.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.header{
  text-align: center;
}
.footer{
  text-align: center;
}
.content{
  flex: 1;
  overflow: scroll;
}
.heading{
  margin: 10px 25px;
  padding: 10px;
}
